<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    
    

   
</head>
<body>
    <header class="header" style="color: black; background-color: white;">
        <div class="container">
          
            <a href="/index.html" class="logo">Simbolo Intelligent Bots</a>
            <i class="ri-robot-2-fill"></i>
            
            <ul class="nav-list">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="">Prices</a></li>
                <li><a href="{{ url_for('teams') }}">Members</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <button class="nav-toggle">
                <i class="ri-menu-line menu"></i>
                <i class="ri-close-large-line close"></i>
            </button>
        </div>
     </header>

    <main>
        <!-- Hero -->
                  <div class="stack-area">
                    <div class="left">
                      <div class="title">The free flashcard maker built to make your life easier.</div>
                      <div class="sub-title">
                        Everything you need to create flashcards efficiently and study them in one place. You can even study sets made by classmates or look through millions of flashcard decks from other students.
                        <br />

                        <div style="display: flex; gap: 10px;">
                            <a href="{{url_for("inputPage")}}">
                                <button>Create a flashcard Set</button>
                            </a>
                            <a href="{{url_for("Essay")}}">
                                <button style="background-color: rgb(98, 26, 240);">Test Essay Score</button>
                            </a>
                        </div>
                        
                      </div>
                    </div>
                    <div class="right">
                    <div class="card">
                        <div class="sub">Automate Your Study</div>
                        <div class="content">Generate Flashcards from Your Notes or Documents
                        </div>
                    </div>
                      <div class="card">
                        <div class="sub">Simplify Complexity</div>
                        <div class="content">Break Down Complex Topics into Bite-Sized Questions</div>
                      </div>
                      <div class="card">
                        <div class="sub">Personalized Progress</div>
                        <div class="content">Leverage AI for Personalized Learning</div>
                      </div>
                      <div class="card">
                        <div class="sub">Engage with Multimedia</div>
                        <div class="content">Incorporate Multimedia and Context</div>
                      </div>
                     
                    </div>
                  </div>
                
            
                </main>
        <!-- other -->
           <!-- Site footer -->
           

        

</body>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</html>